body {
  overflow-x: hidden;
} 

.portlet-title-text {
	display:none;
}
.portlet-title-editable{
	display:none;
}

footer.site_footer{
	background-image:url(../../images/custom/footer_background.png) !important;
  	background-repeat: no-repeat !important;
  	background-size: cover !important;
  	background-position: center !important;
}

a.white-anchor {
    color: var(--white);
}

.inherit *{
color:inherit !important;
}


header.site_header nav ul.menu{
column-gap:0 !Important;
}

.btn-primary {
color:var(--white) !important;
   background-color: var(--theme-yellow) !important;
    border-color: var(--theme-yellow) !important;
    border-radius: 10rem !important;
    padding: 0.5rem 1.2rem !important;
&:hover {
    color: var(--theme-yellow) !important;
    background-color: var(--white) !important;
    border-color: var(--theme-yellow) !important;
}
&:active{
color: var(--theme-yellow) !important;
    background-color: var(--white) !important;
    border-color: var(--theme-yellow) !important;
}
&:focus{
box-shadow:0 0 0 .2rem rgb(255 129 0 / 71%)  !important;
}
}

header.site_header nav ul.menu li:hover > a {
    color: var(--white) !important;
}
.portlet-layout .portlet-header {
    margin: 0 !important;
}
header.site_header nav ul.menu > li.has-grand-child {
    position: unset;
    z-index: 999999;
}
