body {
	overflow-x: hidden;
}

.portlet-title-text {
	display: none;
}

.portlet-title-editable {
	display: none;
}

.portlet-header{
display:flex !important;
}

.loggedIn header.site_heder.active {
    width: calc(100% - 7px);
    position: relative !important;
}

footer.site_footer {
  background: url(../../images/custom/footer_background.png) !important;
  background-size: cover !important;
  background-position: center !important;
}

@media screen and (max-width: 991px) {
    header.site_heder.mobile {
        padding: 0.7rem 2rem 0.7rem 1.5rem !important;
    }

.container {
    padding:0 1rem !important; 
}
}
.ai-cloud {
    position: relative;
		.content-container {
            position: relative;
            z-index: 1;
        }

        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-58%, -36%);
            opacity: 30%;
            width: 80%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
        }
    }
}

.check-list {
    padding-left: 0;
    list-style: none;
    li:before {
	    content: "\f00c";
	    font-family: 'FontAwesome';
	    margin: 0 11px 0 0;
	    color: var(--blue-2);
	    font-weight: bold;
	}
}

.tooltip-title {
	max-width: 350px;
	margin-bottom: 0px;
}
  
.tooltip-text {
	display: block;
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}