body {
	overflow-x: hidden;
}

.portlet-title-text {
	display: none;
}

.portlet-title-editable {
	display: none;
}

.portlet, .portlet-header{
margin: 0px !important;
margin-bottom:0px !important:
}

.tooltip-title {
	max-width: 350px;
	margin-bottom: 0px;
}
  
.tooltip-text {
	display: block;
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}